@use "colors";

$jetbrains: "JetBrains Mono", monospace;

body {
  background-color: colors.$base2;
  font-family: $jetbrains;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  max-width: 800px;
  text-align: center;
}

.text-secondary {
  color: colors.$base0;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .name-header {
    margin: 0;
  }
  align-items: center;
  justify-content: center;
  .avatar {
    margin-bottom: 16px;
  }
}

main {
  text-align: left;
  color: colors.$base03;
  font-size: 14pt;
  font-weight: 400;

  div.segment-container {
    border: 1px solid colors.$base01;
    padding: 5px 32px;
    box-shadow: 5px 5px colors.$base03;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 5px;
    background-color: colors.$base3;

    div.project-container {
      padding: 16px 32px;
      background-color: colors.$base2;
      border: 1px solid colors.$base01;

      .project-title {
        color: colors.$cyan;
        margin: 0px;
      }

      .project-description {
        margin-top: 0px;
      }

      div.thumbnail-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;

        a.thumbnail {
          width: 200px;
          height: 150px;
          box-shadow: inset 0 0 0 1px colors.$base01;
          overflow: hidden;
        }

        a.thumbnail:hover {
          box-shadow: inset 0 0 0 4px colors.$yellow;
        }
      }
    }
  }

  h3 {
    font-weight: 800;
    font-size: 18pt;
  }

  h4 {
    font-weight: 800;
  }

  b {
    font-weight: 800;
  }

  b.yellow {
    color: colors.$yellow;
  }

  a {
    color: colors.$blue;
    font-weight: 800;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

div {
  .social-links {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

footer {
  padding: 1vh;

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .contact {
    display: flex;
    justify-content: center;

    p {
      margin: 0 5px;
    }

    b {
      font-weight: 800;
    }
  }

  .fine-print {
    color: colors.$base01;
    font-size: 9pt;
  }
}
