{% extends 'base.html' %}
{% load static %}

{% block title %}
  Jeremy Andrews Zantua
{% endblock %}

{% block imports %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <div class="top-spacer"></div>
  <header>
    <h1 class="name-header">Jeremy Andrews I. Zantua</h1>
    <img class="avatar" src="/media/avatar-stylized-256.png" />
    <p class="roles-header">
      Software Developer
      <br />
      Electronics Hobbyist
    </p>
    <p class="roles-header"></p>
  </header>
  <div class="social-links">
    <div>
      <a target="_blank" href="https://github.com/Cyphred">
        <i class="fa-brands fa-github"></i>
      </a>
      <a target="_blank" href="https://twitter.com/zantuajeremy">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/jeremy-andrews-zantua-54bb84244/"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a
        target="_blank"
        href="https://www.facebook.com/profile.php?id=100071315853199"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </div>
  <main>
    <div class="segment-container">
      <h3>About me</h3>
      <p>
        I am fascinated about computing, both on the hardware and software
        side of things - which is why I have decided to pick up software
        development and basic electronics.
      </p>
      <p>
        Once I have reached a point where I was confident with my ability
        to pick things up at a reasonable pace, I challenged myself by
        starting to take commissions, learning new things the way I love
        the most - <b>learning by doing</b>.
      </p>
      <p>
        I am currently pursuing my Bachelor's Degree in
        <b>Information Technology</b>, from the
        <a target="_blank" href="https://cnsc.edu.ph/">
          Camarines Norte State College</a
        >.
      </p>
    </div>

    <div class="segment-container">
      <h3>Services</h3>
      <ul>
        <li>Software Development</li>
        <ul>
          <li>Web Applications</li>
          <li>Mobile Applications</li>
          <li>Desktop Applications</li>
        </ul>
        <li>Electronics/Arduino</li>
        <ul>
          <li>Project consulting</li>
          <li>Project assembly</li>
          <li>Programming</li>
        </ul>
      </ul>
    </div>

    <div class="segment-container">
      <h3>Contact</h3>
      <p>
        You may contact me via the social media accounts linked above, but
        I'm more likely to see your message sooner through the following:
      </p>
      <ul>
        <li>
          Email:
          <a href="mailto:jeremyzantua@gmail.com"
            >jeremyzantua@gmail.com</a
          >
        </li>
        <li>Phone: +63 991 788 7500</li>
      </ul>
    </div>
  </main>
{% endblock %}
