{% extends 'base.html' %}
{% load static %}

{% block title %}
  Jeremy Andrews Zantua
{% endblock %}

{% block imports %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <div class="top-spacer"></div>
  <header>
    <img class="avatar" src="/media/avatar-stylized-256.png" />

    <div style='display:flex;flex-direction:column;text-align:left;padding:0 32px 0 32px'>
      <h1 class="name-header">Jeremy Andrews I. Zantua</h1>

      <p class="roles-header">
        An all-around Tinkerer
        <br />
        Full-stack Web Developer
        <br />
        IoT and Electronics Hobbyist
        <br />
        Digital Creative
      </p>

      <div class="social-links">
        <a target="_blank" href="https://github.com/Cyphred">
          <i class="fa-brands fa-github"></i>
        </a>

        <a
          target="_blank"
          href="https://www.linkedin.com/in/jeremyzantua/"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </header>
  <main>
    <div class="segment-container">
      <h3>About me</h3>
      <p>
        I am fascinated by computing, both on the hardware and software
        side of things - which is why I have decided to pick up software
        development and basic electronics.
      </p>
      <p>
        Since my time of being a student, I've always loved picking up on new skills. When I've reached a point where I was confident enough with my abilities on a certain topic, I seeked to challenged myself by
        starting to take commissions, learning new things the way I love
        the most - <b>learning by doing</b>.
      </p>
    </div>
    
    <div class="segment-container">
      <h3>Contact and Links</h3>
      <ul>
        <li>
          Email:
          <a href="mailto:jeremyzantua@gmail.com"
            >jeremyzantua@gmail.com</a
          >
        </li>
        <li>
          <a href="https://linkedin.com/in/jeremyzantua" target="_blank" >
          LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/Cyphred" target="_blank" >
          GitHub
          </a>
        </li>
      </ul>
    </div>
    
    <div class='segment-container'>
      <h3>Project Previews</h3>
      
      <p>Screenshots of some of my previous projects, both done at work and my personal time.</p>

      <p>Some projects are not present here due to non-disclosure agreements.</p>
      
      <div style='display: flex; flex-direction: column; gap: 8px'>
        {% for project in projects %}
          <div class='project-container'>
            <h4 class='project-title'>{{ project.title }}</h4>
            <p class='project-description'>{{ project.description }}</p>
            
            <div class='thumbnail-wrap'>
              {% for image in project.images %}
                <a class='thumbnail' style='background:url(/media/prescriptech/200-{{ image }})' href='/media/prescriptech/{{image}}' target='_blank' />
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      
    </div>
  </main>
{% endblock %}
